In [4]:
num1 = int(input("Insira um número inteiro: "))
num2 = int(input("Insira outro número inteiro: "))
exp = num1**num2
print("Resultado da exponenciação:",exp)

Insira um número inteiro: 2
Insira outro número inteiro: 3
Resultado da exponenciação: 8

In [8]:
num1 = int(input("Insira um número inteiro: "))
num2 = int(input("Insira outro número inteiro: "))
div = num1/num2
resto = num1%num2
print("Resultado:",div)
print("Resto:",resto)

Insira um número inteiro: 3
Insira outro número inteiro: 2
Resultado: 1.5
Resto: 1

In [12]:
a = 10
b = 10
c = a < b
d = a > b
e = a == b
print("Valor de c:",c)
print("Valor de d:",d)
print("Valor de e:",e)

Valor de c: False
Valor de d: False
Valor de e: True

In [18]:
A=True
B=False
print("Valor de A e B:", A and B)

Valor de A e B: False

In [19]:
A=True
B=False
print("Valor de A e B:", A or B)

Valor de A e B: True

In [21]:
a=2
b=4
if a == 2 and b == 3:
  print(True)
else:
  print(False)

False

In [22]:
a=2
b=4
if a == 2 or b == 3:
  print(True)
else:
  print(False)

True

In [23]:
condicao = True
if not condicao:
  print("A condição é falsa")
else:
  print("A condição é verdadeira")

A condição é verdadeira

In [29]:
num=int(input("Insira um número inteiro: "))
if 10<num<20:
  print("O número está entre 10 e 20")
else:
  print("O número não está entre 10 e 20")

Insira um número inteiro: 13
O número está entre 10 e 20